name: CI
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0 # add a space between the colon and the value
      - name: Add remote
        env:
          HF: ${{ secrets.HF }} # add a closing curly brace
        run: git remote add space https://CinnamonRoll:$HF@huggingface.co/spaces/CinnamonRoll/demo2_mlops # replace the comma with a dot
      - name: Push to hub
        env:
          HF: ${{ secrets.HF }}
        run: git push --force space main # use the remote name instead of the full URL
